/** for nav bar **/

/** logo box **/
* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    
}
.navbar {
    justify-content: space-evenly;
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/** for deliver to india box-2**/
.nav-Address{
    padding:5px 9px 11px;

}

.col-1 {
    font-family: 12px Arial, Helvetica, sans-serif;
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
   
}
.col-2 {
    font-family: 14px Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 1rem;
    margin-left: 5px;
}

.add-icon{
    display: flex;
    align-items: center;
}
/** for search box3 **/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: #febd68;
    width: 600px;
    border-radius: 4px;
    height: 38px;

}
.search-select{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f3f3f3;
    width: 45px;
    border: none;
    height: 38;

}
.search-input{
    font-size: 16px;
    width: 100%;
    border: none;
}

.search-icon{
    width: 45px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color:black ;
}
.nav-search:hover{
    border: 2px solid orange;
}
/** box no.4 **/

.return{
    padding:5px 9px 11px;
}
.nav-signin{
    padding:5px 9px 11px;

}
span{
    font-size: 0.7rem ;
}
.nav-second{
    font-size:1rem;
    font-weight: 700;
}

/** box 6 **/
.nav-cart i {
    font-size: 30px;
}
.nav-cart{
    padding: 5px 9px 11px;
    font-size: 14px;
    font-weight: 700;
}

/** for panal **/
.panal{
    background-color: #232f3e;
    display: flex;
    height: 40px;
    align-items: center;
justify-content: space-evenly;
}

.panal-all{
    display: flex;
    color: white;
    padding: 8px 9px;
}
.panal-ops{
    display: flex;
    color: white;
    width: 70%;
    font-size: 14px;
    padding: 8px 9px;
}
.panal-ops p{
    margin: 15px;
}
.panal-deals{
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 9px;
}
/** HERO section **/

.hero-section{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height:350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color:black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    width: 80%;
    margin: 25px;
}
.hero-msg a{
    color: #007185;
}

/** shoping section **/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#E2E7E6;
}

.box{
    height:350px;
    /* border: 2px solid black; */
    width: 18%;
    padding: 20px 0px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: white;
}
.box-img{
    height: 295px;
    background-size:cover;
    margin-bottom: 15px;
    margin-top: 15px;
}

.box-content{
    margin-left: 10px;
    margin-right: 10px;

}

/** footer page **/


footer{
    margin-top: 15px;
}

.foot-panal1{
    background-color: #37475a;
    color:#ffffff;
    height:50px;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}
.foot-panal2{
    background-color:#222f3d;
    color:white;
    height:400px;
    display: flex;
    justify-content: space-evenly;
   
}

ul a {
    color: #dddddd;
    display: block;
    margin-top: 15px;
    font-size: 14px;

}

ul p {
    margin-top: 50px;
    font-size: 16px;
    font-weight: 800;
}

.foot-panal3{
    background-color:#222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang{
    margin-left: 10px;
    padding: 6px 18px 6px 8px;
}

.country{
    margin-left: 10px;
    padding: 6px 18px 6px 8px;

}

.foot-panal4{
    background-color: #131a22;
    color: white;
    display: flex;
    height: 300px;
    justify-content: center;
}
.foot-panal5 {
    background-color: #131a22;
    color: white;
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    font-size: 14px;
}
.cond{
    margin-right: 7px;
    padding: 6px 18px 6px 8px;
}
.priv{
    margin-right: 7px;
    padding: 6px 18px 6px 8px;
}
.int{
    margin-right: 7px;
    padding: 6px 18px 6px 8px;
}
.foot-panal6 {
    background-color: #131a22;
    color: white;
    display: flex;
    justify-content: center;
    height: 40px;
    font-size: 13px;
}

